<div class="block">
	<h3>Ações para meus grupos</h3>
  <ul class="navigation">
  	<li><%= link_to "Voltar", groups_path %></li>
    <li><%= link_to "Criar Grupo", new_group_path %></li>
  </ul>
</div>