<div class="block">
  <h3>Ações do grupo</h3>
  <ul class="navigation">
    <li><%= link_to "Listagem de Grupos", user_groups_path %></li>
    <li><%= link_to "Novo Grupo", new_user_group_path %></li>
  </ul>
</div>