<div class="block">
  <h3>Opções de <%= @user.name %></h3>
  <ul class="navigation">
    <li><%= link_to "Gerenciar meus contatos", contacts_path %></li>
	  <li><%= link_to "Gerenciar meus grupos", groups_path %></li>
  </ul>
</div>