<div class="block">
  <h3>Opções de <%= @user.name %></h3>
  <ul class="navigation">
    <li><%= link_to "Gerenciar meus contatos", user_contacts_path(@user) %></li>
	  <li><%= link_to "Gerenciar meus grupos", user_groups_path(@user) %></li>
  </ul>
</div>