<div class="block">
  <h3>Grupos</h3>
  <ul class="navigation">
    <li></li>
  </ul>
</div>

<div class="block">
  <h3>Opções de <%= @user.name %></h3>
  <ul class="navigation">
    <li><%= link_to "Criar Contato", new_user_contact_path(@user) %></li>
	  <li><%= link_to "Criar Grupos", new_user_group_path(@user) %></li>
  </ul>
</div>