<div class="block">
  <h3>Ações do telefone</h3>
  <ul class="navigation">
    <li><%= link_to "Criar Contato", new_user_contact_path %></li>
    <li><%= link_to "Criar Grupo", new_user_group_path %></li>
		<% if @contact && !@contact.new_record? %>
    	<li><%= link_to "Associar a um novo grupo", "#" %></li>
		<% end %>
  </ul>
</div>